@page {
  size: A4 portrait;
  margin-left: 1cm;
  margin-right: 1cm;
  margin-top: 1cm;
  margin-bottom: 1cm;
}
  
@font-face {
  font-family: Metropolis;
  src: url(../static/fonts/metropolis/Metropolis-Thin.otf) format("opentype"), url(../static/fonts/metropolis/Metropolis-Bold.otf) ;    
}

body{
  font-family: 'Metropolis';
}

.logo{
    height: 150px;
}

.header h1,h3 {
    color:white;
}