<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="utf-8">
  <title>poltronesofà S.p.A. - Etichetta Stock Management</title>
  <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', path='/fontawesome/css/fontawesome.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', path='/fontawesome/css/brands.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', path='/fontawesome/css/solid.css') }}" rel="stylesheet">

  <style>
    .logo_pes{
      height: 170px;
    }

    .title-section {
      border-bottom: 2px solid black;
    }

    .summary-info{
      float:left; 
      margin:6px;
      color:white
    }

    .competenza{
      background-color: #222a33;
      border-radius: 1em;
      color:white;
      padding: 6px 10px;
      line-height: 2;
    }
    
  </style>
</head>

<body>
  <main>
    <div class="main-header" style="position: relative;  height: 250px; top:0cm; left:0cm;width: 21cm;">
        <div class="header" style="position: absolute; background-color:  #313c4e; top:-1.2cm; left:-1.2cm;height: 200px; width: 21cm;"></div>
        <div style="position: absolute; top:-0.85cm; left: 1cm; width: 120px;">
          <img class="logo_pes" src={{ logo_pes }} alt={{ logo_pes }}>
        </div>
        
        <div style="position: absolute; top:-0.8cm; left: 7cm; color:white">
            <h1>Marco Fabbri</h1>
            <h3>Fullstack software Engineer - Project Manager</h3>
        </div>
        
        <div class="sub-header" style="background-color: #222a33; position: absolute; bottom:0px; left: -47px; width: 21cm;">
          <table>
            <tr>
              <td style="padding-left:60px;">
                <span class="summary-info">
                  <i class="fa-solid fa-user"></i> Nome: Marco Fabbri
                </span> 
              </td>
              <td style="padding-left:70px;">
                <span class="summary-info">
                  <i class="fa-solid fa-location-dot"></i> Residenza: Forlì (FC) - Italia
                </span> 
              </td>
            </tr>
            <tr>
              <td style="padding-left:60px;">
                <span class="summary-info">
                  <i class="fa-solid fa-cake-candles"></i> Data di nascita: 26/12/1991
                </span> 
              </td>
              <td style="padding-left:70px;">
                <span class="summary-info">
                  <i class="fa-solid fa-hospital"></i> Luogo di nascita: Rimini (RN)
                </span> 
              </td>
            </tr>
            <tr>
              <td style="padding-left:60px;">
                <span class="summary-info">
                  <i class="fa-solid fa-envelope"></i> Email: marco.fabbri30@gmail.com
                </span> 
              </td>
              <td style="padding-left:70px;">
                <span class="summary-info">
                  <i class="fa-sharp fa-solid fa-mobile"></i> Mobile: 345-8201393              
                </span>
              </td>
            </tr>
          </table>        
        </div>
      </div>
    </div>
  
    <section>
      <h2>{{ data['profilo_professionale']['titolo'] }}</h2>
      <p>{{ data.get('profilo_professionale').get('descrizione') }}</p>  
    </section>
    <section>
      <h2 class="title-section">Esperienze professionali:</h2>
      {% for item in data['esperienze_professionali'] %}
      <div style="position:relative">
        <div style="background-color: red; position: absolute; top: 0px; right:0px;height: 10px; width: 10px;"></div>
        <p class="role">{{ item.get('periodo') }}</p>
        <p class="role">{{ item.get('posizione')}} - {{ item.get('luogo') }} </p>
        <ul>
          {% for esp in item.get('esperienza') %}
          <li>
            {{ esp }}
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </section>
    <section>
      <h2 class="title-section">Formazione:</h2>
      <ul>
        {% for item in data['formazione'] %}
        <li>
          <p><span style="font-family: Metropolis-Bold;">{{ item['titolo'] }}</span></p>
          <p>{{ item['anno'] }} - {{ item['sede'] }}</p>
        </li>
        {% endfor %}
      </ul>
    </section>
    <section>
      <h2>Competenze informatiche</h2>
      <table style="border-collapse: separate; border-spacing: 0 15px;">
        <tr style="border-spacing:10px;">
          <td style="width: 120px;">Linguaggi:</td>
          <td>
            {% for item in data['competenze_informatiche']['linguaggi'] %}
            <span class="competenza">{{ item }}</span>
            {% endfor %}
        </tr>
        <tr  style="border-spacing:10px;">
          <td>Tecnologie:</td>
          <td>
            {% for item in data['competenze_informatiche']['tecnologie'] %}
            <span class="competenza">{{ item }}</span>
            {% endfor %}
          </td>
        </tr>
      </table>
    </section>
    <section>
      <h2>Competenze linguistiche</h2>
      <table style="width: 100%; border-collapse: separate; border-spacing: 0 15px;" >
        {% for item in data['competenze_linguistiche'] %}
          <tr>
            <td style="width: 150px; border-bottom: 2px solid gray ;">{{ item['lingua'] }}</td>
            <td style="width: 350px; border-bottom: 2px solid gray ;">{{ item['voto'] }}</td>
            <td style="width: 100%; float: right; border-bottom: 2px solid gray ;">{{ item['altro'] }}</td>
          </tr>
        {% endfor %}
      </table>
    </section>
    </main>
</body>
</html>